@charset "UTF-8";

:root {
    --cor0:#2600ff;
    --cor1:#4a47ff;
    --cor2:#ff7300;
    --cor3:#0077ff;
    

    --font-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', sans-serif;
    --fonte-idroid: 'idroid', sans-serif;
    }

    * {
        margin: 0px;
        padding: 0px;
    }

    body {
        background-image: linear-gradient(to left, blue, rgb(98, 0, 255));
    }
    header{
        background-image: linear-gradient(to left, blue, rgb(98, 0, 255));
        padding: 20px 20px 0px 20px;
        text-align: center;
        min-height: auto;
    }

    header > h1 {
        padding-bottom: 1px;
        color: white;
        font-size: 7vw;
        font-weight: bold;
        margin: 20px;
        text-shadow: 1px 1px 3px black;
        font-variant: small-caps;

    }

    header > p {
        color: white;
        padding-bottom: 10px;
        font-size: 1.3vw;
        text-shadow: 1px 1px 3px black;
        padding-bottom: 25px;
        
        
    }

    section{
        font-size: 2.3vw;
        padding-top: 10vw;
        padding-bottom: 10vw;
        
    }


    
    #img2 {
        background-image: url(img/back.jpg);
        color: white;
        box-shadow: 2px 6px 17px #000000de;
        background-repeat: no-repeat;
        background-attachment: ;
        background-position: right center;
        background-size: cover;
    }

    main {
        background-color: #ff7300;
        margin: auto;
        box-shadow: inset;
    }
    